.App {
  text-align: center;
}

.student {
  display: flex;
  width: fit-content;
  max-width: 900px;
  border: solid grey;
  margin: 1em;
  margin-inline: auto;
}

.student-info {
  max-width: 400px;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}